html,
body {
	margin: 0;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	height: 100px;
	line-height: 50px;
	background-color: rgb(0, 204, 255);
	text-align: center;
}

.content {
	flex: 1;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.library {
	display: grid;
	grid-auto-flow: column;
}

.card {
	background-color: rgba(204, 7, 204, 0.712);
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

.sidebar {
	background-color:rgb(0, 152, 190);
	display: flex;
	flex-direction: column;
	padding: 20px;
}

button.add {
	font-size: 30px;
	border-radius: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

.footer {
	height: 50px;
	background-color: rgb(0, 204, 255);
	text-align: center;
}
