:root {
	--main-color: rgba(0, 204, 255, 0.4);
}

* {
	box-sizing: border-box;
}

html,
body {
	background-image: url(./img/library.jpg);
	background-size: cover;
	margin: 0;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	height: 100px;
	line-height: 50px;
	background-color: var(--main-color);
	text-align: center;
}

.content {
	flex: 1;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.library {
	display: grid;
	grid-auto-flow: column;
	padding: 20px;
}

.card {
	background-color: rgba(255, 47, 47, 0.6);
	border-radius: 20px;
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.card p:first-child {
	height: 50px;
	font-size: 24px;
}

p + p {
	margin: 5px;
	height: 15px;
}

.card > button {
	border: 0px;
	height: 30px;
	width: 100%;
}

.card > button.readBtn {
	position: absolute;
	bottom: 30px;
	left: 0px;
	background-color: aqua;
}

.card > button.delete {
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: red;
}

.card:hover {
	transform: scale(1.1);
	transition: 0.5s linear;
}

.card:not(:hover) {
	transform: scale(1);
	transition: 0.2s ease-in;
}

.card button {
	display: none;
}

.card:hover button {
	display: block;
}

.sidebar {
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	padding: 20px;
}

button.add {
	font-size: 30px;
	border-radius: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

.footer {
	height: 50px;
	background-color:var(--main-color);
	text-align: center;
}

.readTrue {
	background-color: rgba(101, 255, 45, 0.6);
}
